.container{
    border: solid;
    display: flex;
    gap: 0px;
    padding: 0px;
    flex-direction: column;
}

.row{
    display: flex;
    gap: 0px;
}

.square{
    /*border: solid blue;*/
    aspect-ratio: 1/1;
    flex: 1;
    transition: background-color 0.2s ease-in-out;
}